<div class="container">
  <div class="row">
    <div class="col" style="overflow:scroll; height:700px;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Liste des emails
              <%= link_to 'Recevoir un email', emails_path, method: :post, remote: true, class:"btn btn-primary btn-sm" %>
            </th>
          </tr>
        </thead>
        <tbody id="email-list">
          <% @emails.each do |email| %>
          <tr class="email-<%= email.id %> email-test">
            <td scope="row">
              <div class="row">
                <div class="col-10">
                  <b><%= email.objet%></b>
                  <p class="mb-0"><%= email.body.truncate(60) %></p>
                </div>
                <div class="col-1 text-right">
                  <%= link_to '', email_path(email.id), remote: true, class:"#{read_icon?(email)} btn btn-primary btn-sm color-#{email.id}" %>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-8 border">
      <div id="email-show" >
        Aucun message
      </div>
    </div>
  </div>
</div>
